* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    display: block;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
  }


.gameArea{
    background-image: url("../image/map1BG.png");
    border:5px solid black
}

.character{
    height: 200px;
    width: 180px;
    position: absolute;
    bottom:340px;
    left:650px;
}

.character-slide{
    height: 120px;
    width:200px;
    position: absolute;
    bottom:340px;
    left:650px;
}
