*{
    background-image: url("../image/Titlebase.png");
    box-sizing: border-box;
}

#onePlayer_btn{
    border: none;
    background: none;
    margin-right: 150px;
    cursor: pointer;
}

#twoPlayer_btn{
    border: none;
    background: none;
    cursor: pointer;
}

.container{
    
    padding: 50;
    margin-top: 150px;
    margin-left: 300px;
}