#gameBack_btn{
     margin-top:45px;
     border: none;
     background: none;
     cursor: pointer;
}

#gameNext_btn{
     margin-top:45px;
     border: none;
     background: none;
     cursor: pointer;
}