* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
   display: block;
}

.character{
    background-image: url("../img/DefaultRun0.png");
    height: 150px;
    width: 80px;
    position: absolute;
    bottom:300px;
    left:100px;
    background-repeat:no-repeat;
}

.character-slide{
    background-image: url("../img/Slide0.png");
    height: 80px;
    width:150px;
    position: absolute;
    bottom:300px;
    left:100px;
    background-repeat:no-repeat;
}